{% extends "base.html" %}

{% block content %}

<div id='compare'>
  <h2>Which do you prefer?</h2>

  <form method='POST' action=''>
    {% csrf_token %}
    <input type='hidden' name='winner' value='{{ venue_a.pk }}'>
    <input type='hidden' name='loser' value='{{ venue_b.pk }}'>
    <button type='submit'>
      <i>{{ venue_a }}</i>
      {% if venue_a.city %}in {{ venue_a.city }}{% endif %}
    </button>
  </form>

  or

  <form method='POST' action=''>
    {% csrf_token %}
    <input type='hidden' name='winner' value='{{ venue_b.pk }}'>
    <input type='hidden' name='loser' value='{{ venue_a.pk }}'>
    <button type='submit'>
      <i>{{ venue_b }}</i>
      {% if venue_b.city %}in {{ venue_b.city }}{% endif %}
    </button>
  </form>

  <a href='{% url compare %}'>I don't know! Ask me another&hellip;</a>
</div>

<div id='recommendations'>
  <h2>Recommended</h2>
  {% if recommendations %}
    <p>
      People with similar taste to you also like these places:
    </p>
    <ol>
    {% for score,venue in recommendations|slice:':10' %}
      <li><a href='{{ venue.url }}'>{{ venue }}</a></li>
    {% endfor %}
    </ol>
  {% else %}
    <p>
      We don't have enough information to recommend anything yet.
      Keep telling us what you prefer, we'll get there soon!
    </p>
  {% endif %}
</div>

{% endblock %}

