{% extends "base.html" %}

{% block content %}

<div id='welcome'>
  <p class='intro'>
    Versus pits the places you visit against each other.
    You tell us which you like more and we tell you other places
    you might want to visit by finding other people with similar
    tastes.
  </p>

  <p class='start'>
    Get started:
    {% if user.is_authenticated %}
      <a href='{% url compare %}'>Start comparing places</a>
    {% else %}
      <a href='{% url login %}'>Log in with Foursquare</a>
    {% endif %}
  </p>
</div>

{% endblock %}

